language: python
python:
  - "3.6"
before_install:
  - "sudo apt-get install libsqlite3-mod-spatialite"
install:
  - "pip install django"
  - "pip install flake8"
  - "pip install coverage"
  - "pip install sphinx"
  - "pip install coveralls"
script:
  - bash build
after_success:
  - coveralls
